﻿
@section Scripts {
    @Scripts.Render("~/Scripts/Skripta.js")
}
<head>
    <link rel="stylesheet" href="stilovi.css" />
</head>
<body>

    <div class="row">

        <div class="col-sm-4">
            <form method="post" action="post/" id="registracija">
                <h3>Registracija</h3>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" id="regEmail" />
                </div>
                <div class="form-group">
                    <label>Lozinka</label>
                    <input class="form-control" type="password" id="regLoz" />
                </div>
                <div class="form-group">
                    <label>Potvrdi Lozinku</label>
                    <input class="form-control" type="password" id="regLoz2" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Registracija</button>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <form method="post" action="post/" id="prijava">
                <h3>Prijava</h3>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" id="priEmail" />
                </div>
                <div class="form-group">
                    <label>Lozinka</label>
                    <input class="form-control" type="password" id="priLoz" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Prijava</button>
                </div>
            </form>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-4" id="odjava">
            <h3>Odjava</h3>
            <button class="btn btn-default" id="odjavise">Odjava</button>
        </div>
    </div>

    <hr />



    <div class="container">
        <p id="data"></p>
        <br />
    </div>
    <div class="container2">
        <button class="btn btn-default" id="automobil">Učitaj / Osveži automobile</button>
        <br/>

        <div id="formDiv" style="display:none">
            <form method="post" action="post/" id="automobilForm">

                <p><label>Proizvodjač: <input id="automobilProizvodjac"></label></p>

                <p><label>Model: <input id="automobilModel"></label></p>

                <p><label>Godina proizvodnje: <input id="automobilGodinaProizvodnje"></label></p>

                <p><label>Kubikaža: <input id="automobilKubikaza"></label></p>

                <p><label>Boja: <input id="automobilBoja"></label></p>

                <div class="container">
                    <p><label id="listaMotoraId">Motor:</label>
                </div>

                <br />

                <p><button>Submit</button></p>
                <br/>

            </form>

        </div>
    </div>
    

        <div class="container3" >
            <h1>Ovo su neki od primera</h1>
            <p>Brzo</p>
            <img src="~/slike/IMG_20170218_170522.jpg" width="200" height="250" title="Vise detalja ako se ulogujete" alt="Problem sa ucitavanjem" />

        </div>
        <div class="container4" >
            <p>Povoljno</p>
            <img src="~/slike/IMG_20170218_170537.jpg" width="200" height="250" title="Vise detalja ako se ulogujete" alt="Problem sa ucitavanjem" />

        </div>
        <div class="container5" >
            <p>Ekonomično</p>
            <img src="~/slike/IMG_20170218_170552.jpg" width="200" height="250" title="Vise detalja ako se ulogujete" alt="Problem sa ucitavanjem" />
        </div>
        <div class="container6" >
            <p>Praktično</p>
            <img src="~/slike/IMG_20161115_200451.jpg" width="320" height="250" title="Vise detalja ako se ulogujete" alt="Problem sa ucitavanjem" />
        </div>
    
</body>

